*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.log
junk
cvmeta
*.txt

# Never check in the actual configuration, only check in the sample configuration
config.json

# Binaries
hud
hud_noopt
gpio_poll
gpio_poll_sim