[Unit]
Description=Hologram monitor service
After=network.target

[Service]
Type=simple
WorkingDirectory=%BASE%/
ExecStart=%BASE%/run_hologram_monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
