[Unit]
Description=HUD service
After=network.target

[Service]
Type=simple
WorkingDirectory=%BASE%/
ExecStart=%BASE%/run_hud.sh
Restart=always

[Install]
WantedBy=multi-user.target